<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.duma.liudong.meiye">

    <uses-permission android:name="android.permission.CAMERA" />
    <!--调用摄像机权限-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--用于获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--用于写入缓存数据到扩展存储卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />

    <uses-feature android:name="android.hardware.nfc.hce" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--高德地图-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="a832b199ce53f952ac9311ad2b825ef9" />
        <service android:name="com.amap.api.location.APSService" />
        <!--支付宝支付-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <!--微信-->
        <!--<activity-->
        <!--android:name=".wxapi.WXEntryActivity"-->
        <!--android:configChanges="keyboardHidden|orientation|screenSize"-->
        <!--android:exported="true"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <!--图片选择器-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".view.start.main.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.home.CouponsActivity" />
        <activity android:name=".view.start.login.LoginActivity" />
        <activity android:name=".view.start.login.RigisterActivity" />
        <activity android:name=".view.start.login.ForgetPassword" />
        <activity android:name=".view.start.login.ConfirmForgetPasswordActivity" />
        <activity
            android:name=".view.start.main.SlideActivity"
            android:theme="@style/AppTheme_Translucent" />
        <activity android:name=".view.me.UserDataActivity" />
        <activity android:name=".view.me.ChangePasswordActivity" />
        <activity android:name=".view.me.FanKuiActivity" />
        <activity android:name=".view.me.WoDekeHuActivity" />
        <activity android:name=".view.home.MessageActivity" />
        <activity android:name=".view.home.MessageContentActivity" />
        <activity android:name=".view.me.JiFenActivity" />
        <activity android:name=".view.me.yuE.YuEActivity" />
        <activity android:name=".view.me.YouHuiJuanActivity" />
        <activity android:name=".view.me.HongBaoActivity" />
        <activity android:name=".view.home.LinJuanActivity" />
        <activity android:name=".view.classift.ShangPingLieBiaoActivity" />
        <activity android:name=".view.classift.ShangPingXiangQinWeb" />
        <activity android:name=".view.home.TouTiaoActivity" />
        <activity android:name=".view.me.ShouCangActivity" />
        <activity android:name=".view.classift.dianPu.DianPuActivity" />
        <activity android:name=".view.classift.dianPu.DianPuClassiftActivity" />
        <activity android:name=".view.classift.dianPu.DianPuJianJieActivity" />
        <activity android:name=".view.shoppingCart.QueRenDinDanActivity" />
        <activity android:name=".view.home.MiaoShaActivity" />
        <activity android:name=".view.forum.FaTieActivity" />
        <activity android:name=".view.forum.LunTanXiangQinWeb" />
        <activity android:name=".view.me.ShouHuoDiZhiActivity" />
        <activity android:name=".view.me.TianJiaDiZhiActivity" />
        <activity android:name=".view.me.dinDan.QuanBuDinDanActivity" />
        <activity android:name=".view.shoppingCart.YouHuiJuanListActivity" />
        <activity android:name=".view.me.WoDeZuJiActivity" />
        <activity android:name=".view.shoppingCart.ZhiFuActivity" />
        <activity android:name=".view.shoppingCart.FuKuanChenGongActivity" />
        <activity android:name=".view.me.yuE.TiXianActivity" />
        <activity android:name=".view.me.dinDan.ShiWuDianDanXiangQingActivity" />
        <activity android:name=".view.me.dinDan.PingJiaActivity" />
        <activity android:name=".view.home.meiTuan.TuanGouActivity" />
        <activity android:name=".view.start.main.WebViewActivity" />
        <activity android:name=".view.me.yuE.TiXianZFBActivity" />
        <activity android:name=".view.me.yuE.TiXianYHActivity" />
        <activity android:name=".view.home.SouSuoActivity" />
        <activity android:name=".view.classift.dianPu.DianPuListActivity" />
        <activity android:name=".view.me.SheZhiActivity" />
        <activity android:name=".view.me.FenSiActivity" />
        <activity android:name=".view.shoppingCart.fuwu.FuWuQueRenDinDanActivity" />
        <activity android:name=".view.me.GuanZhuActivity" />
        <activity android:name=".view.me.DinDanZhongXinActivity" />
        <activity android:name=".view.me.maiJia.MjMainActivity" />
        <activity android:name=".view.me.maiJia.ShangXiaJiaActivity" />
        <activity android:name=".view.me.dinDan.DinZhiXiangQinActivity" />
        <activity android:name=".view.me.dinDan.FuWuXiangQinActivity" />
        <activity android:name=".view.me.dinDan.WoDeDinZhiActivity" />
        <activity android:name=".widget.city.ShouYeDingWeiActivity" />
        <activity android:name=".view.me.maiJia.XiaoShouBaoBiaoActivity" />
        <activity android:name=".view.me.AnQuanActivity" />
        <activity android:name=".view.me.dinDan.ShenQinTuiKuanActivity" />
        <activity android:name=".view.me.dinDan.TuiKuanXiangQinActivity" />
        <activity android:name=".widget.demo.DemoActivity" />
        <activity android:name=".view.start.main.MainActivity" />
        <activity android:name=".view.start.main.ViewPaterActivity" />
        <activity android:name=".view.shoppingCart.HongBaoListActivity" />
        <activity android:name=".view.shoppingCart.YouHuiListActivity" />
        <activity android:name=".view.classift.dianPu.JuBaoActivity" />
    </application>

</manifest>